html,
body {
  margin: 0 0 5em 0;
  padding: 0;
}

h1 {
  font-style: italic;
  font-size: 60px;
  font-weight: 100;
  position: relative;
  margin-top: 0;
}
h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #cbb46e;
  width: 35%;
}

h2 {
  background: #2a2b31;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  padding: 1em 0;
  margin-bottom: 0.5em;
}

h3 {
  margin: 5px 0;
  color: #cbb46e;
  font-size: 20px;
  font-weight: 100;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-image: url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?q=80&fm=jpg&s=fa68c48c66a390579ae96eff13922404);
  background-size: cover;
  background-position: center;
}
.block .block__item {
  flex: 0 1 50%;
  font-style: italic;
}
.block .block__item .block__inner {
  padding: 2em 3em;
}
@media (max-width: 550px) {
  .block .block__item .block__inner {
    padding: 1em;
  }
}
@media (max-width: 950px) {
  .block .block__item {
    flex: 0 1 100%;
  }
}
.block .block__description {
  line-height: 22px;
}
.block .block__description:first-letter {
  float: left;
  font-size: 55px;
  line-height: 40px;
  padding: 0 0.25em;
}

.list {
  font-family: "Myriad Pro", sans-serif;
  font-style: normal;
  background-color: #3e414e;
  float: left;
  padding: 1.5em 0;
  margin-bottom: 3em;
}
.list .list__item {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list .list__item .list__time {
  color: #cbb46e;
  width: 25%;
  text-align: center;
}
.list .list__item .list__desc {
  width: 60%;
  border-bottom: 1px solid #484c56;
  color: #ffffff;
  font-size: 15px;
  line-height: 22px;
  padding: 1em;
  position: relative;
}
.list .list__item .list__desc .border {
  background: #2a2b31;
  width: 3px;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8%;
}
.list .list__item .list__desc .border:after {
  content: "";
  background: #3e414e;
  border: 5px solid #2a2b31;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: -7px;
  width: 8px;
  height: 8px;
}
@media (max-width: 550px) {
  .list .list__item .list__desc .border {
    left: -5%;
  }
}
.list .list__item:last-of-type .list__desc {
  border-bottom: none;
}
.list .list__item:last-of-type .list__desc .border:before {
  content: "";
  background: #2a2b31;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  position: absolute;
  bottom: -8px;
  left: -3px;
}
.list .list__item:first-of-type .list__desc {
  border-bottom: none;
}
.list .list__item:first-of-type .list__desc .border:before {
  content: "";
  background: #2a2b31;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  position: absolute;
  top: -8px;
  left: -3px;
}